.footer-container  {
    margin-top: auto;
    flex: 0;
}

.footer {
    padding-top: 0.5vh;
    padding-bottom: 3vh;
    background-color: #000000CC;
    text-align: center;
}

.footer p   {
    color: whitesmoke;
    font-size: 1em;
}

.footer-links   {
    list-style-type: none;
    padding: 0;
}

.footer-links li    {
    display: inline-flex;
}

.footer-links a  {
    text-decoration: none;
    display: inline-block;
    min-width: 100px;
    color: slategray;
}

.footer-links a:hover {
    color: whitesmoke;
}
