.bread  {
    padding-top: 12vh;
    width: 100%;
    margin: auto;
    flex: 1;
}

.bread p    {
    text-align: center;
    margin: 2em;
    color: #EEE;
    font-size: 1em;
    font-weight: bold;
    text-shadow: 0 0 8px slategray;
}

#meitsi  {
    border-radius: 6px;
    border: 1px solid slategray;
    display: block;
    margin: auto;
    max-width: 40vh;
}
