.full_screen_container {
  width: 100vw;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.music_wip_text {
  color: white;
  text-align: center;
  max-width: 600px;
}