
.footerbody  {
    margin-top: auto;
    flex: 0;
}

.footer {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #000000cc;
    text-align: center;
}

.footer p   {
    color: whitesmoke;
}

ul   {
    list-style-type: none;
    padding: 0;
}

.footer_links li    {
    display: inline;
    text-align: center;
}

.footer_links a  {
    text-decoration: none;
    display: inline-block;
    width: 100px;
    color:slategray;
}