.bread  {
    padding-top: 12vh;
    width: 100%;
    margin: 0 auto;
    max-width: 80ch;
    flex: 1;
}

.bread p    {
    text-align: center;
    color: whitesmoke;
    font-size: 1.0em;
}

#meitsi  {
    display: block;
    margin: auto;
    width: 40%;
}
