#lang-button  {
  margin: 0;
  width: 2.5em;
}

#lang-button:hover  {
  cursor: pointer;
}

.lang-container {
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
}

.lang p {
  margin: auto;
  font-weight: normal;
  color: gray;
  font-size: 1.0em;
  text-align: center;
}

.lang {
  text-align: center;
}
