#lang-button  {
  padding-left: 0.55em;
  padding-right: 0.55em;
  margin: 0;
  width: 1em;
}

#lang-button:hover  {
  cursor: pointer;
}

.lang p {
  margin: auto;
  font-weight: normal;
  color: gray;
  font-size: 0.5em;
  text-align: center;
}
